.dashboard {
    padding-top: 50px;
}

.tab-panels {
    width: 100%;
    margin-top: 60px;
}

.inner-tabpanel {
    width: inherit;
}

.group-products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 60px 40px 60px;
    padding: 0 0;
	
}

@media screen and (max-width: 1024px) {
    .group-products {
        padding: 10px 0;
        margin: 0;
        justify-content: center;
    }
}

.disable-org {
    display: none!important;
}
