.group-box {

}

.group-box h1 {

}

.group-box-content {
    padding: 20px;
}

@media screen and (max-width: 1024px) {
    .group-box-content {
        padding: 7px;
    }
}

.group-box-content h1 {
    text-align: start;
}

.category-title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
        margin: 0 60px;
    padding: 0 10px;
}

@media screen and (max-width: 1024px) {
    .category-title {
        padding: 10px 0;
        align-items: center;
        text-align: center!important;
        display: block;
    }
}